{{!-- {{> navigation}} --}}
{{!-- {{> newentry}} --}}

<body id="body">
  <section>
    <div class="container-fluid">
      <div class="row bg-warning py-3 ">
        <div class="col-10">

          <hr class="bg-white">
        </div>
        <div class="col-2">
          <button class="btn btn-light">NEW ENTRY</button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-6 half ">ab</div>
        <div class="col-3">b</div>
        <div class="col-3">c</div>
      </div>

    </div>
  </section>
  <div id = "journal">
    <div class = "photo">
          <img src = "http://placehold.it/140x100" id = "userImage">
          <button id = "upload">Upload</button>
    </div>
    <div class = "comments">
          <textarea id = "content" cols = "64" rows = "3" placeholder = "Say something about yourself."></textarea>
          <button id = "submit" onclick = "isEmpty();clearDiv();">Submit</button>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select the date</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="date" class="form-control py-4 text-center" placeholder="Start journaling">
          </div>
         <div class="form-group">
            <textarea class="form-control py-4 text-center" placeholder="Start journaling"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-block py-2 mb-3">Submit</button>
      </div>
    </div>
  </div>
</div>

</body>