<body id="body">
  <section>
    <div class="container">
      <div class="row justify-content-center mt-5 pt-5">
        <div class="col-md text-center mt-5">
          <div class="mt-4 animate__animated animate__fadeInUp">
            <a href="/login/"><img src="https://i.ibb.co/2vDThLD/Dear-Diary-Logo-1.png" alt="Dear-Diary-Logo"></a>
          </div>
          {{!-- <h1 class="mb-0 py-2 home-logo text-white animate__animated animate__fadeInDown">DEAR</h1>
          <h1 class="mt-0 py-2 home-logo text-white animate__animated animate__fadeInDown">DIARY</h1>
          <span class="ruler mb-1"></span> <span class="px-2 text-white">
            <a href="/login/">LOG ME IN</a></span><span class="ruler mb-1"></span></h6> --}}
        </div>
      </div>
    </div>
  </section>
</body>