<div class="navBackground">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container py-3">
            <a class="navbar-brand" href="/api/users/dashboard"><span class="navigation-log text-white">DEAR</span><span
                    class="navigation-log text-white">DIARY</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <p id="inspo" class="animate__animated animate__fadeInDown animate__slower">
                "Always believe something wonderful is about to happen"
            </p>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/">HOME </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/api/users/dashboard">DASHBOARD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white logout" href="#">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row bg-warning py-3 ">
        <div class="col-9 pl-0">
            <hr class="bg-white pt-1">
        </div>
        <div class="col-2">
            <h2 id="animate-header" class="formHeader animate__animated animate__fadeInLeftBig animate__slower">
                your diary
            </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg center center">
            <div class="single-entry" style="display: block">
                <h2>{{title}}</h2>
                <hr class="bg-lighter">
                <p><b>{{date}}</b></p>
                <hr class="bg-lighter">
                <p class="card-text post-card-text"> {{description}}</p>
                <hr class="bg-lighter">
                <button id="entryBtn" type="submit"><a href="/api/users/dashboard">Back to Diary</a></button>
            </div>
        </div>
    </div>
</div>

<script src="/js/logout.js"></script>