
<div class="single-entry" style="display: block">
    <h2>{{date}}</h2>
    <img src="/images/{{image}}" style="width:300px;"><br>
    <h2>{{title}} {{description}}</h2>
    <h3><a href="/api/users/dashboard" class="loginLink">Back to Diary</a></h3>
</div>