<body id="body">

</body><div id="signupContainer">
  <div class="formDiv">
    <h2 class="formHeader"></h2class>SIGN UP</h2>
    <form class="signup-form">
      <div class="form-group">
        <label for="fname-signup">first name</label>
        <input class="form-input" type="text" id="fname-signup" />
      </div>
      <div class="form-group">
        <label for="lname-signup">last name</label>
        <input class="form-input" type="text" id="lname-signup" />
      </div>
      <div class="form-group">
        <label for="username-signup">user name</label>
        <input class="form-input" type="text" id="user-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email address</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btnPrimary" type="submit">sign up</button>
      </div>
      <div>
        <center><p class="form-link">Page didn't refresh? <a href="/login/" class="loginLink">Log In</a></p></center>
      </div>
    </form>
  </div>
</div>

<script src="/js/signup.js">{{!}}</script>