/* li {
    font-size: 2rem;
    width: 300px;
    margin: 4px;
    padding: 4px;
    list-style: none
}
.midlaner {background-color: #ffea00}
.toplaner {background-color: #eeeeee} */

#body {
    background: url('https://i.ibb.co/G0T29y5/background-Image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
.nav-item{
    color: white;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 25px;
}
.bg-warning{
    background-color: #c2c2c2 !important;
}
#entryBtn{
    background-color: #4496bc;
	border: none;
	border-radius: 6px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}
.heading-line-right{
    background: white;
height: 2px;
width: 50%;
float: right;
display: block;
}
.heading-line-left{
    background: white;
height: 2px;
width: 50%;
float: left;
display: block;
}

.home-logo{
    border: white 8px solid;
    font-size: 68px;
}
.navigation-log{
    border: white 4px solid;
    padding: 5px 15px 5px 15px;
    color: white;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 25px;
}
.navBackground{
    background-image: url('https://i.ibb.co/G0T29y5/background-Image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.ruler{
    width: 75px;
    height: 5px;
    display: inline-block;
    background-color: white;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
	font-family: "Roboto", Arial, sans-serif;
}

.formHeader {
	color: #969696;
	letter-spacing: 3px;
	font-weight: lighter;
	text-align: center;
}

.btnPrimary{
	background-color: #4496bc;
	border: none;
	border-radius: 6px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#loginContainer{
	border: none;
	border-radius: 10px;
	padding:50px;
	position: center;
	background-color:white;
	width: 50%;
	margin-top: 8%;
 	margin-left: 25%;
 	margin-right: 25%;
 	display: inline-block;
}

#signupContainer{ 
	padding: 50px;
	border: none;
	border-radius: 10px;
	position: center;
	background-color:white;
	width: 50%;
	margin-top: 8%;
 	margin-left: 25%;
 	margin-right: 25%;
 	display: inline-block;
}

.loginLink{
	color: #4496bc
}

.personalizedContainer{
	padding:10px; 
	width:100%;
	float:center; 
}
